.sidebar {
  width: fit-content;
  background: var(--secondary-bg);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  text-wrap: nowrap;
}

.upper,
.bottom {
  flex-shrink: 0;
}

.bars {
  width: 14px;
  margin: 0 0 16px 0;
}

.new-chat {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.edit {
  width: 18px;
  margin: 4px 0;
}

.explore-gem {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  gap: 14px;
}

.gems {
  width: 18px;
  margin: 4px 0;
}

.settings {
  margin: 0 0 4px 0;
  display: flex;
  align-items: center;
  gap: 14px;
}

.setting {
  width: 18px;
}

.recent {
  margin: 8px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.recent-entries {
  overflow-y: auto;
  flex-grow: 1;
  margin: 12px 4px;
}

.entry {
  display: flex;
  gap: 12px;
  margin: 12px 0;
  align-items: center;
  overflow: hidden;
  max-width: 142px;
  text-wrap: wrap;
}

.message-icon {
  width: 18px;
  margin: 4px 0;
}