* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
  color: rgb(155, 162, 168);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1d1d1d;
  --secondary-bg: #f0f4f9;
  --input-bg: #e4e4e4;
  --border-color: #ccc;
  --button-bg: #e0e0e0;
  --highlight: #4b90ff;
  --question-bg: #d9d9d9;
  --icon-color: #1f2937;
}

.dark-theme {
  --bg-color: #1d2328;
  --text-color: #c4c7c5;
  --secondary-bg: #3c3f43;
  --input-bg: #3c3f43;
  --border-color: #3c3f43;
  --button-bg: #1d2328;
  --highlight: #4b90ff;
  --question-bg: #3c3f43;
  --icon-color: #ffffff;
}